body {
    background-color: cadetblue;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

#alertBan {
    height: 6rem;
    display:block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right:auto;
}
